<p-table
  [value]="products"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadProducts($event)"
  [totalRecords]="totalRecords"
  [loading]="loader"
  [sortMode]="'multiple'"
  [dataKey]="'id'"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="title">Name <p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </ng-template>
</p-table>
